{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<form method="post">
    {% csrf_token %}

    {% if form.errors %}
     <div style="color: red;">
        {{ form.errors }}
     </div>
    {% endif %}

    <div class="form-group">
        {{ form.facility.label_tag }}
        {{ form.facility }}
    </div>

    <div class="form-group">
        {{ form.issue_description.label_tag }}
        {{ form.issue_description }}
    </div>

    {% if form.date_reported %}
    <div class="form-group">
        {{ form.date_reported.label_tag }}
        {{ form.date_reported }}
    </div>
    {% endif %}

    <div class="form-group">
        {{ form.priority.label_tag }}
        {{ form.priority }}
    </div>

    <button type="submit" class="btn-primary">Submit</button>
</form>
{% endblock content %}